body {
    direction: rtl;
    margin: 0;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}


/* Topbar */

.topbar_section {
    background-image: url(./image/Subtract\ \(1\).png);
    background-repeat: no-repeat;
    position: relative;
    padding-bottom: 20rem;
}

.topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topbar_menus-wrapper ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.topbar_menus-wrapper ul li {
    margin-right: 3rem;
    list-style: none;
}

.topbar_menus-wrapper ul li a {
    color: black;
    text-decoration: none;
    transition: all .5s ease-in;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -ms-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
}

.topbar_menus-wrapper ul li a:hover {
    background-color: rgb(0, 0, 0);
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    padding: .5rem 2rem;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-size: 1.5rem;
    color: #ffff;
}

.topbar_icon-toggle {
    display: none;
}

/* Topbar_Botton */

.topbar_botton {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 3rem;
}

.topbar_botton-right {
    width: 45%;
}

.topbar_botton-right h1 {
    font-size: 2rem;
    line-height: 3rem;
}

.topbar_botton-right p {
    color: gray;
    font-weight: bold;
    line-height: 1.5rem;
    margin: 2rem auto;
}

.topbar_botton-right button {
    background-color: #3CA642;
    color: #ffff;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    font-size: 1.5rem;
    padding: .3rem 2rem;
    border: none;
}

.topbar_botton-left {
    width: 45%;
}

.topbar_botton-left img {
    width: 100%;
}

/* Plan Section */

.plan {
    margin-top: 5rem;
    text-align: center;
}

.plan p {
    font-size: 1.2rem;
    color: gray;
}

.plan h2 {
    font-size: 2rem;
}

.plan_boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.plan-box {
    width: 22%;
    min-width: 280px;
    height: 280px;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.plan-box div {
    background-color: orange;
    width: 50px;
    height: 50px;
    padding: 1rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.plan-box .red {
    background-color: red;
}

.plan-box.green {
    background-color: #3CA642;
    color: #ffff;
}

.plan-box.green p {
    color: #ffff;
}

.plan-box .white {
    background-color: #ffff;
}

.plan-box .purple {
    background-color: purple;
}

.plan_boxes h3 {
    margin: 1rem auto;
}

.plan_boxes p {
    padding: 0 1rem;
    margin-top: 0;
}

/* Manage */

.manage {
    margin-top: 5rem;
}

.manage_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.manage_wrapper-img {
    width: 40%;
}

.manage_wrapper-img img {
    width: 100%;
}

.manage_wrapper-description {
    width: 50%;
    padding: 1rem;
}

.manage_wrapper-description span {
    font-size: 16px;
    color: #828282;
}

.manage_wrapper-description h2 {
    font-size: 32px;
    color: #333333;
    margin: 1rem auto;
}

.manage_wrapper-description p {
    font-size: 14px;
    color: #828282;
}

.manage_wrapper-description ul li {
    font-size: 14px;
    color: #333333;
    list-style: none;
    margin-top: .5rem;
    position: relative;
}

.manage_wrapper-description ul li::before {
    content: '';
    width: 8px;
    height: 8px;
    background-color: #3CA642;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    top: 4px;
    right: -18px;
}

/* Content */

.content {
    margin-top: 5rem;
}

.content_wrapper {
    text-align: center;
}

.content_wrapper span {
    color: #828282;
    font-size: 16px;
}

.content_wrapper h2 {
    font-size: 32px;
    color: #333333;
    margin: 1rem auto;
}


.content_boxes {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.content_boxes-box {
    width: 33%;
}


.content_boxes-box img {
    width: 95%;
}

.content_boxes-box h3 {
    text-align: start;
    font-size: 18px;
    color: #333333;
    padding-right: 2rem;
}

.content_boxes-box p {
    text-align: start;
    font-size: 14px;
    padding-right: 2rem;
    color: #828282;
}

.content_boxes-box a {
    display: block;
    text-align: start;
    color: #333333;
    padding-right: 2rem;

}






@media (max-width: 768px) {

    .topbar_section {
        padding-bottom: 5rem;
    }

    .topbar_menus-wrapper {
        display: none;
    }

    .topbar_icon {
        display: none;
    }

    .topbar_icon-toggle {
        display: block;
    }

    .topbar_botton {
        flex-direction: column;
    }

    .topbar_botton-right {
        width: 100%;
    }

    .topbar_botton-left {
        margin-top: 4rem;
        width: 100%;
    }

    .plan {
        margin-top: 0;
    }

    .manage {
        margin-top: 1rem;
    }

    .manage_wrapper {
        flex-wrap: wrap;
    }

    .manage_wrapper-img {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .manage_wrapper-img img {
        width: 80%;
    }

    .manage_wrapper-description {
        width: 100%;
    }

    .content {
        margin-top: 1rem;
    }

    .content_boxes-box:last-child {
        display: none;
    }

    .content_boxes-box {
        width: 45%;
    }
}



@media (max-width: 480px) {
    .topbar_botton-right h1 {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .content_boxes {
        flex-wrap: wrap;
    }

    .content_boxes-box {
        width: 100%;
        margin-top: 2rem;
    }
}



















.pp {
    height: 10000px;
}